/* styles.css */

.chart-container {
  width: 90%; /* 85% width of its parent container */
  height: auto; /* Let the height adjust dynamically based on content */
  max-width: auto; /* Limit the maximum width to prevent overflow */
  box-sizing: border-box; /* Include border in the width calculation */
}
.table-container {
  display: flex; /* Use flexbox */
  justify-content: flex-end; /* Align items to the end (right-hand side) */
  overflow: hidden; /* Hide overflow to prevent horizontal scroll */
  height: auto;
  margin-left: auto; /* Aligns the table container to the most right-hand side */
}

#securities_table thead th {
    top: 0;
    background-color: white; /* Add a background color to hide the original header */
    z-index: 1; /* Ensure the header stays above the table content */
    cursor: pointer; /* Change cursor to pointer for clickable headers */
}

.container {
  display: flex;
  border: 2px solid #000;
  height: 100%
}

* {
    box-sizing: border-box;
  }
  
  .row {
    margin-left:5px;
    display: flex;
  }
    
  .column{
    overflow-y:scroll;
    height: 90vh;
    display:block;
 }

 
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    max-height: 100px;
  }
  
  td {
    text-align: left;
    padding: 16px;
  }
  th {
    text-align: left;
    padding: 16px;
    position: sticky;
    top: 0;
  }
  
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }