/* styles.css */

/* Chart container */
.chart-container {
    width: 75%;
    height: Default;
    border: 5px solid #ccc;
    
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid #000;
}

* {
    box-sizing: border-box;
  }
  
  .row {
    margin-left:5px;
    display: flex;
  }
    
  .column{
    overflow-y:scroll;
    height: 620px;
    display:block;
 }

 
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    max-height: 100px;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }